body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    /* Increased text to enable scrolling */
    
}
.navbar__toogleBtn{
    display: none;
    position: absolute;
    left: 32px;
    font-size: 24px;
    color: rgb(204, 105, 13);
}

.main{
    align-content: center;
}
.main p{
    font-family: 'DM Serif Text', serif;
    text-align:center;
    font-size: 30px;
}
.info{
    width:90%;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    left: 32px;
    font-size: 32px;
    color: rgb(128, 124, 120);
}

.containerActivity p{
    color: rgb(87, 86, 86);
}

.containerActivity{
    margin-top:15px;
    width:70%;
    height: 400px;
    margin-left: 140px;
    border-radius: 7px;
    border:3px solid;
    border-color: #424141;
}
.containerActivity h1{
    font-style:normal;
    font-family: 'DM Serif Text', serif;
    text-align:center;
    font-size: 30px;
}

.container h1{
    font-style:normal;
    font-family: 'DM Serif Text', serif;
    text-align:center;
    font-size: 30px;
}

.container{
    width:70%;
    height: 370px;
    margin-left: 140px;
    border-radius: 7px;
    border:3px solid;
    border-color: #424141;
}

.container p{
    color: rgb(87, 86, 86);
}


@media screen and (min-width: 768px) and (max-width:1024px){
    .main{
        margin-left:100px;
    }
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 15px;
    }
    .container{
        height:400px;
    }
}

@media screen and (min-width:600px) and (max-width:767px){
    .main{
        margin-left:0;
    }
    .sidenav {
        display: none;
    }

    .navbar__toggleBtn{
        display: block;
    }

    .sidenav.active{
        opacity: 0.9;
        display:block;
        position: absolute;
        width:20%;
        margin-top: 75px;
        background: white;
    }
    .sidenav.active a{
        font-size:15px;
        color:#424141;
        margin-left:10px;
    }
    .main p{
        font-size:15px;
    }

    .container{
        height:400px;
    }
    .containerActivity{
        height:450px;
    }
    .container p{
        font-size:25px;
    }
    .containerActivity p{
        font-size:25px;
    }
    
}

@media screen and (min-width:481px) and (max-width:599px){
    .main{
        margin-left:0;
    }
    .sidenav {
        display: none;
    }
    .jumbotron{
        height:300px;
    }
    .navbar__toggleBtn{
        display: block;
    }

    .sidenav.active{
        opacity: 0.9;
        display:block;
        position: absolute;
        width:20%;
        margin-top: 75px;
        background: white;
    }
    .sidenav.active a{
        font-size:15px;
        color:#424141;
        margin-left:10px;
    }

    .main p{
        font-size:25px;
    }

    .name{
        margin-left:120px;
    }
    .birth{
        margin-left:120px;
    }
    .nation{
        margin-left:120px;
    }

    .container{
        margin-left:90px;
    }

    .containerActivity{
        margin-left:90px;
    }
    .container p{
        font-size:20px;
    }
    .containerActivity p{
        font-size:20px;
    }
}

@media screen and (max-width:480px){
    .main{
        justify-content:center;
        margin-left:0;
    }
    .sidenav {
        display: none;
    }
    .jumbotron{
        margin-top:15px;
        margin-left: 0;
        height:300px;
    }
    .navbar__toggleBtn{
        display: block;
    }

    .sidenav.active{
        opacity: 0.9;
        display:block;
        position: absolute;
        width:20%;
        margin-top: 75px;
        background: white;
    }
    .sidenav.active a{
        font-size:9px;        
        color:#424141;
        margin-left:10px;
    }

    .main p{
        font-size:25px;
    }

    .name{
        margin-left:100px;
    }
    .birth{
        margin-left:100px;
    }
    .nation{
        margin-left:100px;
    }

    .container{
        margin-left:90px;
        height:350px;
    }

    .containerActivity{
        margin-left:90px;
        height:300px;
    }
    .container h1{
        font-size: 20px;
    }
    .container p{
        font-size:20px;
    }
    .containerActivity h1{
        font-size: 20px;
    }
    .containerActivity p{
        font-size:15px;
    }
}
